{% extends 'index.html' %}
{% block title %}
    <h1>Edit Tag</h1>
{% endblock %}

{% block content %}

    <div class="card border-secondarys mb-3" style="width: 35rem;">
        <div class="card-body">
            <form method="POST" href="/tag/{{ tag_id }}/edit">
                <div class="form-group">
                    <label for="name">New Tag:</label>
                    <input type="text" class="form-control" name="tags" placeholder="{{ tag.name }}" value="{{ tag.name }}" id="name">
                </div>
                <div class="form-check form-group row">
                    {% for post in posts %}
                        <div>
                            <input class="form-input"
                                   type="checkbox"
                                   value="{{ post.id }}"
                                   id="post_{{ post.id }}"
                                   name="posts">
                            <label class="form-check-label" for="post_{{ post.id }}">
                                {{ post.title }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="submit-buttons">
                    <a href="/tags" class="btn btn-outline-secondary">Cancel</a>
                    <button class="btn btn-info" type="submit">Create!</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}