{% extends 'index.html' %}
{% block title %}New Tag{% endblock %}

{% block content %}

    <h1>Create a Tag</h1>

    <div class="card border-success mb-3" style="width: 35rem;">
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label for="new_tag">New Tag:</label>
                    <input type="text" class="form-control" placeholder="Name" id="new_tag">
                </div>
                <div class="form-check form-group row">
                    {% for post in posts %}
                        <div>
                            <input class="form-input"
                                   type="checkbox"
                                   value="{{ post.id }}"
                                   id="post_{{ post.id }}"
                                   name="posts">
                            <label class="form-check-label" for="post_{{ post.id }}">
                                {{ post.title }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="submit-buttons">
                    <a href="/tags" class="btn btn-outline-info">Cancel</a>
                    <button class="btn btn-info" type="submit">Create!</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}