{% extends 'index.html' %}
{% block title %}Post{% endblock %}

{% block content %}
      <p>{{ post.user.first_name }}'s Post</p>
    <div class="card border-success mb-3" style="width: 28rem;">

        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p>{{ post.content }}</p>
            <p>Posted: {{ post.friendly_date }}</p>
            <form>
              <button class="btn btn-outline-primary"
                      formmethod="GET"
                      formaction="/users/{{ post.user_id }}">Cancel</button>
              <button class="btn btn-primary"
                      formmethod="GET"
                      formaction="/post/{{ post.id }}/edit">Edit</button>
              <button class="btn btn-danger"
                      formmethod="POST"
                      formaction="/post/{{ post.id }}/delete">Delete</button>
            </form>
        </div>
    </div>

{% endblock %}