{% extends 'index.html' %}
{% block title %}Create{% endblock %}

{% block content %}

    <h1>Create a User</h1>

    <div class="card border-success mb-3" style="width: 35rem;">
        <div class="card-body">
            <form action="/create_user" , method="POST">
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" name="first_name" id="first_name">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name:</label>
                    <input type="text" class="form-control" name="last_name" id="last-name">
                </div>
                <div class="form-group">
                    <label for="add-photo">Profile Picture:</label>
                    <input type="text" name="image_url" id="add-photo" placeholder="Image URL">
                    <small id="photo_help" class="form-text text-muted">Don't want to add a profile picture now? Upload
                        your picture later using Edit.</small>
                </div>
                <div class="submit-buttons">
                    <button class="btn btn-outline-secondary" type="submit" value="cancel" name="submit">Cancel</button>
                    <button class="btn btn-info" type="submit" value="create" name="submit">Create!</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}