{% extends 'index.html' %}
{% block title %}
    <h1>Delete {{ user.first_name }}'s Profile</h1>
{% endblock %}

{% block content %}


    <div class="card border-secondary mb-3 align-content-center" style="width: 28rem;">
        <img id="img" class="card-img-top img-thumbnail" src="{{ user.image_url }}" alt="profile picture">
        <div class="card-body">
            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
            <form action="/users/{{ user.id }}/delete" method="POST">
                <div class="alert alert-danger" role="alert">
                    Are you sure you want to delete {{ user.first_name }}'s profile?
                </div>
                <div class="submit-buttons">
                    <a href="/users" class="btn btn-outline-secondary" type="submit" value="cancel"
                       name="submit">Cancel</a>
                    <button class="btn btn-outline-danger" type="submit">Delete</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}