{% extends 'index.html' %}
{% block title %}Edit{% endblock %}

{% block content %}

    <h1>Edit {{ user.first_name }}'s Profile</h1>

    <div class="card border-primary mb-3" style="width: 28rem;">
        <img id="img" class="card-img-top img-thumbnail" src="{{ user.image_url }}" alt="profile picture">
        <div class="card-body">
            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>

            <form action="/users/{{ user.id }}/edit", method="POST">
                <div class="form-group">
                    <label for="first_name">New First Name:</label>
                    <input type="text" class="form-control" name="first_name" id="first_name"
                           placeholder="{{ user.first_name }}" value="{{ user.first_name }}">
                </div>
                <div class="form-group">
                    <label for="last-name">New Last Name:</label>
                    <input type="text" class="form-control" name="last_name" id="last-name"
                           placeholder="{{ user.last_name }}" value="{{ user.last_name }}">
                </div>
                <div class="form-group">
                    <label for="add-photo">New Profile Picture:</label>
                    <input type="text" name="image_url" id="add-photo" placeholder="Image URL" value="{{ user.image_url }}">
                    <small id="photo_help" class="form-text text-muted">Don't want to add a profile picture now? Upload your picture later using Edit User.</small>
                </div>
                <div class="submit-buttons">
                    <a href="/users/{{ user.id }}" class="btn btn-outline-info" value="cancel" name="submit">Cancel</a>
                    <button class="btn btn-info" type="submit" value="save" name="submit">Save</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}