{% extends 'index.html' %}
{% block title %}
    <h1>Welcome to Blogly</h1>
    <h5>Create and share blog posts with friends!</h5>
{% endblock %}

{% block content %}

    <div class="submit-buttons m-5 w-30">
        <a href="/create" class="btn btn-outline-info m-2 w-100" role="button">Create a User</a>
        <a href="/users" class="btn btn btn-info m-2 w-100" role="button">See All Users</a>
        <a href="/tags" class="btn btn btn-info m-2 w-100" role="button">Tags</a>

    </div>

{% endblock %}