{% extends 'index.html' %}
{% block title %}Post{% endblock %}

{% block content %}

    <h1>{{ user.first_name }}'s Profile</h1>

    <div class="card border-success mb-3" style="width: 28rem;">
    <div id="img" class="card-img-top" alt="profile picture">
        <img src="{{ user.image_url }}" alt="picture" class="img-thumbnail">
    </div>
        <div class="card-body">
            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>

    <form>
      <button class="btn btn-primary btn-sm"
              formaction="/users/{{ user.id }}/edit"
              formmethod="GET">Edit
      </button>
        <a href="/users/{{ user.id }}/delete" class="btn btn-info">Delete</a>
    </form>

    <h2 class="mt-4">Posts</h2>

    <ul>
      {% for post in user.posts %}
      <li>
        <a href="/post/{{ post.id }}">{{ post.title }}</a>
        <small>{{ post.friendly_date }}</small>
      </li>
      {% endfor %}
    </ul>

    <p><a href="/users/{{ user.id }}/post/new" class="btn btn-primary">Add Post</a></p>

  </div>
</div>


{% endblock %}